{% from 'macros.j2' import env with context %}

{%- if oauth.google_adwords is defined -%}
  {{ env(oauth.google_adwords, prefix="oauth_google_adwords") }}
{% endif -%}

{%- if smtp is defined -%}
  {{ env(smtp, prefix="mail") }}
{% endif -%}