{% macro env(values, prefix='') -%}
{% for k, v in values.items() -%}
{# `tojson` will properly quote strings #}
{{ [prefix, k] | select | join('_') | upper }}={{ v | tojson }}
{% endfor %}
{%- endmacro -%}
