OAUTH_FACEBOOK_CLIENT_SECRET={{ oauth.facebook.client_secret }}
OAUTH_FACEBOOK_CLIENT_ID={{ oauth.facebook.client_id }}

OAUTH_GOOGLE_ADWORDS_DEVELOPER_TOKEN={{ oauth.google_adwords.developer_token }}
OAUTH_GOOGLE_ADWORDS_CLIENT_ID={{ oauth.google_adwords.client_id }}
OAUTH_GOOGLE_ADWORDS_CLIENT_SECRET={{ oauth.google_adwords.client_secret }}